/* CSS Document */

body,input,textarea,label{
	font-family:Verdana, Geneva, sans-serif;
	font-size:9pt;
}

#contacts-form label {
	display:block;
	height:26px;
	overflow:hidden;
}
#contacts-form span {
	float:left;
	width:100px;
}
#contacts-form input {
	float:left;
	border:1px solid #a4a4a4;
	width:210px;
	padding:1px 5px 1px 5px;
}

#contacts-form textarea {
	float:left;
	width:210px;
	padding:1px 5px 1px 5px;
	height:105px;
	border:1px solid #a4a4a4;
	overflow:auto;
}
#contacts-form .button {
	float:right;
	margin-left:16px;
	margin-top:14px;
}

/*图片容器样式*/
.wrapper {
	width:100%;         /*宽度100%*/
	overflow:hidden;    /*溢出部分隐藏显示*/
}

.button {
	display:inline-block;
	position:relative;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background-color:#d42400;
	background:-webkit-gradient(linear,0 0,0 70%,from(#ed2800),to(#b21e00));
	background:-moz-linear-gradient(#ed2800,#b21e00 70%);
	background:linear-gradient(#ed2800,#b21e00 70%);
	-pie-background:linear-gradient(#ed2800,#b21e00 70%);
	behavior:url(js/PIE.htc);
	padding:0 18px 0 18px;
	line-height:35px;
	color:#fff;
	font-weight:bold;
	text-decoration:none;
	-webkit-transition-duration:0.5s;
}
